name: Flask CI/CD

on:
  push:
    branches:
      - main
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install pytest

    - name: Run tests
      run: pytest -v

  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Deploy via SCP
      uses: appleboy/scp-action@master
      with:
        host: 103.23.61.152
        username: dmanteca
        password: ${{ secrets.SERVER_PASS }}
        source: "./"
        target: "/var/www/alumnos/dmanteca/flask_app"
        overwrite: true

    - name: Install dependencies inside EXISTING venv
      uses: appleboy/ssh-action@master
      with:
        host: 103.23.61.152
        username: dmanteca
        password: ${{ secrets.SERVER_PASS }}
        script: |
          cd /var/www/alumnos/dmanteca/flask_app

          # Activamos el venv existente
          source venv/bin/activate

          # Instalamos dependencias dentro del venv
          pip install --upgrade pip
          pip install -r requirements.txt

          # Recargar apache
          sudo systemctl reload apache2 || true